<a href="https://colab.research.google.com/github/Helenaaa1986/Text_Data_pre-processing/blob/main/text_data_pre_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the Dependencies

In [53]:
import numpy as np 
import pandas as pd
import re 
import nltk
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.model_selection import train_test_split

In [54]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

Data pre-pocessing

In [55]:
#load the data set
df=pd.read_csv('dataset_EN.csv')

In [56]:
df.head()

,Text,Classes
0,Increase in covid cases among employees.,5-COVID-19
1,Many absences related to covid.,"2- Fatigue, exhaustion or overload at work"
2,"There is an exhaustion, a fatigue among the em...","2- Fatigue, exhaustion or overload at work"
3,Increase in the number of meetings for the EAP,Nope
4,Breathless speakers. They have difficulty inte...,"2- Fatigue, exhaustion or overload at work"

In [57]:
df.shape

(1421, 2)

In [58]:
#cheking for missing values
df.isnull().sum()

Text       0
Classes    0
dtype: int64

In [59]:
#replacing the missing values with null string
new_data = df.fillna('')

if you need merging the colm1  and colm2 then:
df['colmn3']=df['colmn1']+''+df['colm2']

To convert the values in your "colm1" column to numeric labels, you can use a technique called label encoding. This involves mapping each unique class value to a unique integer label.

In [60]:
from sklearn.preprocessing import LabelEncoder

# create a LabelEncoder object
le = LabelEncoder()

# fit the encoder to the classes column and transform the values
encoded_classes = le.fit_transform(df['Classes'])

# replace the original classes column with the encoded values
df['Classes'] = encoded_classes

In [61]:
df.head()

                                                Text  Classes
0           Increase in covid cases among employees.        5
1                    Many absences related to covid.        2
2  There is an exhaustion, a fatigue among the em...        2
3     Increase in the number of meetings for the EAP       10
4  Breathless speakers. They have difficulty inte...        2

stemming:
is the process of reducing  a word to its rootword

In [62]:
port_stem=PorterStemmer()

In [63]:
def stemming(text):
  stemmed_text=re.sub('[^a-zA]','',text)
  stemmed_text =stemmed_text.lower()
  stemmed_text =stemmed_text.split()
  stemmed_text=[port_stem.stem(word) for word in stemmed_text if not word in stopwords.words('english')]
  stemmed_text=' '.join(stemmed_text)
  return stemmed_text

In [64]:
df['Text']=df['Text'].apply(stemming)

In [65]:
df.head()

                                                Text  Classes
0                    ncreaseincovidcasesamongemploye        5
1                          anyabsencesrelatedtocovid        2
2  hereisanexhaustionafatigueamongtheemployeeshew...        2
3                ncreaseinthenumberofmeetingsforthea       10
4  reathlessspeakersheyhavedifficultyintegratingn...        2

In [66]:
print(df['Text'])

0                         ncreaseincovidcasesamongemploye
1                               anyabsencesrelatedtocovid
2       hereisanexhaustionafatigueamongtheemployeeshew...
3                     ncreaseinthenumberofmeetingsforthea
4       reathlessspeakersheyhavedifficultyintegratingn...
                              ...
1416                                ncreaseinthecostofliv
1417                                   ndofsanitarymeasur
1418                                       helackofservic
1419                                                 isol
1420    hevulnerablepopulationisconcernedabouttheirbudget
Name: Text, Length: 1421, dtype: object

In [67]:
X=df['Text'].values
Y=df['Classes'].values

In [68]:
print(X)

['ncreaseincovidcasesamongemploye' 'anyabsencesrelatedtocovid'
 'hereisanexhaustionafatigueamongtheemployeesheworkingclimateismoredifficultmployeesnameadropinmotivationandalossofhopehearrivalofthenbringsonemoreadapt'
 ... 'helackofservic' 'isol'
 'hevulnerablepopulationisconcernedabouttheirbudget']

In [69]:
print(Y)

[5 2 2 ... 6 4 7]

In [75]:
Y.shape

(1421,)

In [77]:

from sklearn.feature_extraction.text import TfidfVectorizer

# assuming X is a list of text documents
vectorizer = TfidfVectorizer()
vectorizer.fit(X)

X = vectorizer.transform(X)

In [78]:
print(X)

  (0, 867)	1.0
  (1, 160)	1.0
  (2, 593)	1.0
  (3, 879)	1.0
  (4, 1066)	1.0
  (5, 319)	1.0
  (6, 574)	1.0
  (7, 592)	1.0
  (8, 875)	1.0
  (9, 1067)	1.0
  (10, 931)	1.0
  (11, 188)	1.0
  (12, 892)	1.0
  (13, 370)	1.0
  (14, 462)	1.0
  (15, 648)	1.0
  (16, 158)	1.0
  (17, 1094)	1.0
  (18, 998)	1.0
  (19, 851)	1.0
  (20, 999)	1.0
  (21, 1060)	1.0
  (22, 988)	1.0
  (23, 604)	1.0
  (24, 962)	1.0
  :	:
  (1396, 606)	1.0
  (1397, 501)	1.0
  (1398, 604)	1.0
  (1399, 694)	1.0
  (1400, 2)	1.0
  (1401, 894)	1.0
  (1402, 785)	1.0
  (1403, 1013)	1.0
  (1404, 379)	1.0
  (1405, 372)	1.0
  (1406, 374)	1.0
  (1407, 1267)	1.0
  (1408, 1168)	1.0
  (1409, 1177)	1.0
  (1410, 103)	1.0
  (1411, 184)	1.0
  (1412, 437)	1.0
  (1413, 1119)	1.0
  (1414, 1147)	1.0
  (1415, 987)	1.0
  (1416, 875)	1.0
  (1417, 884)	1.0
  (1418, 556)	1.0
  (1419, 775)	1.0
  (1420, 622)	1.0